/*** This stylesheet needs to be clean up ***/

@font-face {
    font-family: 'OpenSans-Regular';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Bold.ttf') format('truetype');
}
body {
    padding: 0;
    margin: 0;
}
.toolbar {
    background: #1c2529;
    background-image: linear-gradient(to bottom right, #1c2529, black);
    box-sizing: border-box;
    display: grid;
    /*grid-gap: 2px;*/
    grid-auto-flow: column;
    padding: 4px 0;
    font-size: 12px;
    font-family: sans-serif;
    color: #fff;
}
.toolbar-comments {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
    box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
}
.bottom {
    -moz-box-shadow: 0 0 45px #fff;
    -webkit-box-shadow: 0 0 45px #fff;
    box-shadow: 0px 0px 45px #fff;
    position: fixed;
    /*width: 320px;*/
    left: 5px;
    bottom: 0;
    z-index: 100000;
    margin-bottom: -29px;
    border-top-right-radius: 5px;
}
#close {
    font-family: sans-serif;
    padding: 5px 0;
    background-color: #1c2529;
    /*border-top: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: fixed;
    font-size: 12px;
    z-index: 100001;
    bottom: 0px;
    left: 5px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
.arrow-slide-up {
    -webkit-animation: slide-down 0.5s forwards;
    animation: slide-down 0.5s forwards;
    margin-bottom: 28px;
}
.toolbar-slide-up {
    -webkit-animation: slide-down 0.5s forwards;
    animation: slide-down 0.5s forwards;
    margin-bottom: 0px;
}
.rotate {
    transform: rotate(-180deg);
    display: block;
}
.toolbar a {
    text-decoration: none;
    display: block;
}
.red {
    color: #dd4b39;
}
.blue {
    color: #00acd6;
}
.green {
    color: #008d4c;
}
.yellow {
    color: #e08e0b;
}
.gray {
    color: grey;
}
.toolbar > div {
    cursor: pointer;
    text-align: center;
    border-right: 1px solid #34454c;
    line-height: 20px;
    padding: 0 14px;
    font-family: sans-serif;
}
.toolbar > div:last-child {
    border-right: none;
}
#credits-btn img {
    vertical-align: middle;
}
x-star-rating {
    font-size: 18px;
    width: 87px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    cursor: pointer;
}
x-star-rating > .star::after {
    content: '\2605';
    color: #848484;
}
x-star-rating > .star.full::after {
    content: '\2605';
    color: #e08e0b;
}
.user-image-medium {
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid #848484;
    border-radius: 50%;
    margin-right: 10px;
}

/* #dialog is for browser action popup */

body {
    background: #28343a;
    color: #fff;
    font-size: 14px;
    -webkit-box-shadow: inset 0px 0px 34px 23px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: inset 0px 0px 34px 23px rgba(0, 0, 0, 0.51);
    box-shadow: inset 0px 0px 34px 23px rgba(0, 0, 0, 0.51);
}
#dialog > div {
    padding: 20px;
}
#dialog>div:nth-of-type(odd) {
    -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
    box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
}

/*#dialog {
    background: #2c3a40;
    color: #fff;
    padding: 20px;
    font-size: 13px;
    font-family: 'OpenSans-Regular';
}*/

.date {
    font-family: 'OpenSans-Bold';
}
#dialogBody {
    /*height: 351px;*/
    /*overflow: auto;*/
}
.post {
    border: 1px solid #181f22;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    background: #222c31;
    box-sizing: border-box;
    position: relative;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
}
#dialogHeader {
    margin-bottom: 10px;
}
#dialogFooter {
    /*line-height: 35px;*/
    height: 30px;
    display: inline-block;
    text-align: center;
    /*background-color: #1c2529;*/
    /*-webkit-box-shadow: inset 0px -14px 14px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -14px 14px 5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -14px 14px 5px rgba(0, 0, 0, 0.75);*/
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 11%, rgba(0, 0, 0, 0.8099614845938375) 30%, rgba(0, 0, 0, 0) 74%);
    width: 100%;
    /*border-radius: 4px;*/
    /*margin-top: 20px;*/
    position: fixed;
    bottom: 0;
    left: 0;
}
#dialogFooter a {
    color: #fff;
}
#dialogFooter span {
    padding: 0 5px;
    border-right: 1px solid #eee;
}
#dialogFooter span:last-child {
    border: none;
}
.post-body {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}
.post span a:first-child {
    font-weight: bold;
    text-transform: capitalize;
    color: #008d4c;
    text-decoration: none;
    /*margin-bottom: 5px;*/
    display: block;
}
.delete-post {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 19px;
}
.edit-post {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-size: 13px;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
}
.editable {
    margin-top: 10px;
    padding: 2px 10px;
    border: none;
    background-color: #1c2529;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
}
textarea.post-comment {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    /*background-color: #1c2529;
    color: #fff;*/
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.57);
    box-sizing: border-box;
    vertical-align: bottom;
}
textarea.post-comment:focus {
    outline: none;
}
.post-comment-btn {
    /*margin: 10px 0;*/
    padding: 6px 8px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #dd4b39;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
}
